
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Thời gian báo cáo của Kỳ báo cáo tháng 12-2023 đã kết thúc. Thời gian bắt đầu từ ngày: 01/12/2023 cho đến ngày: 31/12/2023
    </p>
  </body>
</html>
