<div class="menu" id="menu">
  <div class="menu__logo">
      <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/12/Icon-Dai-Hoc-Van-Lang.png"
          alt="">
  </div>
  <p class="menu__title">MENU</p>
  <a href="thongke.html" class="menu__items">
      <div class="menu__icon  ">
          <i class="fa-solid fa-chart-simple"></i>
      </div>
  </a>
  <a href="baocaostaff.html" class="menu__items">
      <div  class="menu__icon  ">
          <i class="fa-regular fa-clipboard"></i>
      </div>
  </a>
  <div class="menu__items">
      <div class="menu__icon menu__active ">
          <i class="fa-solid fa-users"></i>
      </div>
  </div>
  <a href="quanlyphongban.html" class="menu__items  ">
    <div class="menu__icon ">
      <i class="fa-regular fa-calendar"></i>
    </div>
</a>
  <a href="thongtintaikhoan.html" class="menu__items menu__items--separation ">
      <div class="menu__icon ">
          <i class="fa-regular fa-user"></i>
      </div>
  </a>
  <div class="menu__items">
      <div class="menu__icon  ">
          <i class="fa-regular fa-sun"></i>
      </div>
  </div>
  <a  class="menu__items">
      <div class="menu__icon  ">
          <i class="fa-solid fa-gear"></i>
      </div>
  </a>
  <div class="menu__items">
      <div class="menu__icon  ">
          <i class="fa-solid fa-right-to-bracket"></i>
      </div>
  </div>
  <div id="btn-menu">
      <button aria-label="btn-menu">
          <i class="fa-solid fa-chevron-right"></i>
      </button>
  </div>
</div>