<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Kỳ báo cáo tháng <%= "#{Time.current.strftime('%m-%Y')}" %> sắp đến ngày kết thúc.
    </p>
  </body>
</html>
